
<div class="memories">


{{#each model as |memory|}}
{{!-- {{#link-to 'memory' memory }}<h2>{{memory.name}}</h2>{{/link-to}} --}}
<h3 id="color" class="all-memories">{{memory.name}}</h3>
<h4 id="decor" class="all-memories">"{{memory.description}}"</h4>
<h4  class="all-memories">{{memory.cohort}}</h4>





  {{!-- {{#link-to 'update' memory class="btn btn-xs edit"}}
      Edit Memory
  {{/link-to}} --}}
  {{#link-to 'memory' memory}}
  <button  class="btn btn-md btn-danger" >
    Delete
  </button>
 <hr class= "style-two">
  {{/link-to}}
{{/each}}
</div>


{{outlet}}
