<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{!-- {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}} --}}
        <li>{{#link-to "about" class="nav"}}About{{/link-to}}</li>

        {{#if isAdmin}}
        <li>{{#link-to "admin"}}Admin{{/link-to}}</li>
         {{/if}}

           <li>{{#link-to "all-memories"}}All Memories{{/link-to}}</li>


       {{#if isAuthenticated}}
        <li>{{#link-to "memories"}}Memories{{/link-to}}</li>
       {{/if}}

        {{!-- {{#if isAuthenticated}}
        <li>{{#link-to "new-memory"}}Create{{/link-to}}</li>
        {{/if}} --}}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#if isAuthenticated}}
{{#link-to 'new-memory'}}
<button id="GA" type="submit"><img src="http://i.imgur.com/uazk36h.png" width="100px" height="120px" alt="Submit"></button>
{{/link-to}}
{{/if}}


<h1></h1>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
