 <div class="col-md-8 col-md-offset-2">


{{#each model as |memory| }}
    {{#link-to 'update' memory }}
       <h3 id="color" class="all-memories">Created by: {{memory.name}}</h3>
    {{/link-to}}

    {{#link-to 'update' memory }}
       <h4 id="name" class="all-memories">"{{memory.description}}"</h4>
    {{/link-to}}

    {{#link-to 'update' memory }}
       <h4  class="all-memories">{{memory.cohort}}</h4>
    {{/link-to}}
    {{#link-to 'update' memory }}
       <h4  class="all-memories">{{memory.date}}</h4>
    {{/link-to}}


    <hr class= "style-five">

{{/each}}
</div>
{{outlet}}
