<div class="button">

{{ga-button-white}}

</div>
 <div class="col-md-8 col-md-offset-2">

{{#each model as |memory| }}

   <h3 id="color" class="all-memories"> <img src="http://i.imgur.com/cejfim7.png" width="30px" height="30px" alt="" /> Created by: {{memory.name}} on {{memory.date}}</h3>
   <h4 id="name" >"{{memory.description}}"</h4>
   <h4  class="all-memories">{{memory.cohort}}</h4>


    <hr class= "style-five">

{{/each}}
</div>


{{outlet}}
