<div class="memories">


  <h2>Update Your Memory</h2>

  {{new-memory-name name=memory.name}}
  {{new-memory-description description=memory.description}}
  {{new-memory-cohort cohort=memory.cohort}}

  <button type="submit" class="btn btn-primary submit" {{action "update"}} on="submit">
    Update
  </button>
  <button class="btn btn-default" {{action "reset"}} on="click">
    Cancel
  </button>
</div>
