

{{new-memory-name name=memory.name}}
{{new-memory-description description=memory.description}}
{{new-memory-cohort cohort=memory.cohort}}


<button type="submit" class="btn btn-success submit" {{action "submit"}} on="click">
  Submit
</button>
<button class="btn btn-default" {{action "reset"}} on="click">
  Cancel
</button>

{{#link-to 'all-memories'}}
<button class="btn btn-default">
 Go back  </button>
{{/link-to}}
